{% extends 'base.html' %}
{% block content %}
<div class="track d-flex flex-column dgrid gap-3 justify-content-center align-items-center">
    <h1>Missing Orders</h1>
    <form method="post" enctype="multipart/form-data" action ="/find_missing">
        <div class="mb-3">
            <label>CSV file of scanned data</label>
            <input class="form-control" name="scanned_csv" type="file" accept=".csv">
        </div>
        <div class="mb-3">
            <label>Shipment Entry Date</label>
            <input class="form-control" type="text" name="entry_date" placeholder="In YYYY-MM-DD format">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>

<div id="missing">
</div>
{% endblock %}